.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--font-weight-text);
  color: var(--text-color);
  background-image: var(--bg-page);
  background-size:
    4px 4px,
    4px 4px,
    cover;
  background-attachment: fixed, fixed, fixed;
}

.content {
  width: var(--content-width);
  margin-inline: auto;
}

.header {
  margin-block-start: 100px;
  border: 2px solid var(--border-color);
  background: var(--bg-color);
  padding: calc(var(--header-padding) - 0.25rem) 24px;
}

.header__logo {
  font-family: var(--font-accent);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: 1;
  font-size: clamp(3.063rem, 1.5vw + 2.7rem, 4.063rem);
}

.header__title {
  font-family: var(--font-accent);
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 0;
  line-height: 1;
  font-size: calc(
    clamp(0.875rem, 0.6vw + 0.7rem, 1.438rem) + 0.195rem
  ); /*читсый clamp не работает*/
}

.main {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-block: 100px;
}

.card {
  border: 2px solid var(--border-color);
  background: var(--bg-color);
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 18px;
  margin: 0;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--border-color);
}

/* ===== Image + Label ===== */

.card__image-wrapper {
  position: relative;
  border-bottom: 2px solid var(--border-color);
  line-height: 0;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__label {
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 1;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  pointer-events: none;
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--stroke-color);
    -webkit-text-fill-color: var(--text-color);
  }
}

@supports not (-webkit-text-stroke: 1px var(--stroke-color)) {
  .card__label {
    text-shadow:
      -1px 0 var(--stroke-color),
      1px 0 var(--stroke-color),
      0 -1px var(--stroke-color),
      0 1px var(--stroke-color);
  }
}

/* ===== Text ===== */

.card__text {
  padding-top: 24px;
  padding-left: 25px;
  padding-bottom: 24px;
  padding-right: 27px;
  display: grid;
  gap: 24px;
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.16;
}

/* ===== Buttons ===== */

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  padding: 0 25px 25px;
}

.card__icon-button {
  display: grid;
  place-items: center;
  padding: 0;
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color);
}

/* общая кнопка*/
.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--border-color);
  background: var(--button-bg-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--button-overlay-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text,
.save-button__icon {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  font-family: var(--font-accent);
  padding-left: 5px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding-top: 13px;
}

/* ===== Footer ===== */

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.save-button {
  display: flex;
  align-items: center; /* вертикальный центр */
  justify-content: center; /* центр по горизонтали */
  padding: 20px 20px;
  margin-top: -50px;
  margin-bottom: 100px;
  height: 55px;
}

.save-button .button__text {
  line-height: 1;
  font-size: 14px;
}

/* ===== Dialog ===== */

.dialog {
  border: 2px solid var(--border-color);
  padding: 30px;
  display: none;
  width: min(100%, 357px);
}

.dialog[open] {
  display: grid;
  gap: 30px;
}

.dialog::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  align-items: center;
}

.dialog__text {
  font-family: var(--font-accent);
  text-transform: uppercase;
  margin: 0;
}

.dialog__button {
  height: 38px;
}

/* ===== Filters  ===== */

.filter-start {
  filter: brightness(0.95) contrast(1.25) saturate(0.85);
}

.filter-blank {
  filter: sepia(0.6);
}

.filter-anxiety {
  filter: saturate(300%);
}

.filter-ideal {
  filter: sepia(0.35) saturate(1.25);
}

.filter-support {
  filter: invert(100%);
}

.filter-strategy {
  filter: grayscale(80%);
}

.filter-focus {
  filter: blur(10px);
}

.filter-now {
  filter: contrast(50%);
}

/* ===== 375px ===== */

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    gap: 8px;
    height: auto;
    margin-top: -50px;
  }

  .save-button__icon {
    flex-shrink: 0;
    display: block;
    width: 26px;
    height: 22px;
  }

  .card__image {
    aspect-ratio: auto;
    height: 371px;
  }

  .card__label {
    right: 24px;
  }

  .card__text {
    padding: 25px;
    gap: 25px;
  }

  .main {
    gap: 51px;
  }

  .card__buttons {
    padding: 0 25px 25px;
  }
}
