:root {
  --font-main: "Inter-Variable", sans-serif;
  --font-accent: "PressStart2P-Regular", monospace;
  --font-weight-text: 400;
  --font-weight-title: 700;
  --bg-page:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --content-width: clamp(320px, 100vw, 700px);
  --header-padding: clamp(7.25rem, 2.5vw + 6.75rem, 8.25rem);
  --accent-color: #000;
  --button-text-color: #fff;
  --button-overlay-color: #000;
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #000;
  --button-bg-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --stroke-color: #fff;
}
