:root {
  /* fonts */
  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P-Regular', monospace;

  /* Inter variable weights */
  --font-weight-text: 400;
  --font-weight-title: 700;

  /* page background */
  --bg-page:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  /* reusable widths */
  /* --content-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem); */
--content-width: clamp(320px, 100%, 700px);

  /* --header-padding: clamp(7.5rem, 2.5vw + 7rem, 8.5rem); */
  /* --header-padding: clamp(
  calc(7.5rem - 0.25rem),
  calc(2.5vw + 7rem - 0.25rem),
  calc(8.5rem - 0.25rem)
); */
--header-padding: clamp(7.25rem, 2.5vw + 6.75rem, 8.25rem);



  /* colors */
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #000;

  /* button */
  --button-text-color: #000;
  --button-bg-color: #fff;

  /* heart animation colors */
  --contour-color: #000;
  --animation-fill-color: #ff0000;

  /* label stroke */
  --stroke-color: #fff;
}
